

.qr-code-generator{
  background: linear-gradient(to bottom, #3498db, #10293a );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.qr-code-container {
  background: linear-gradient(to bottom, #3498db, #10293a );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  
}

.url-input {
  width: 50%;
  height: 40px;
  
}

ion-button{
  --background: Purple ;
  margin-bottom: 10px;
  margin-top: 15px;
}